-# encoding: UTF-8
%ul#global-nav.header-nav
  %li
    %a{:href => 'http://library.luhs.org/hslibrary/index.htm'}>Health Sciences Library
  %li
    = link_to('About', about_path)
  %li
    = link_to('FAQ', faq_path)

  - if logged_in?
    %br
    %li
      %span{style: 'color: #FAB123;'} Hi #{current_user.bibapp_staff.first_name.capitalize}
    %li
      %span #{link_to t('app.logout'), destroy_user_session_path, method: :delete}
