
    <div class='span-22 prepend-1' id='flash-messages'>
      <!--- Flash messages --> 
    </div>
    <!-- ### Main -->
    <div class='span-24'>
      <div class='span-22 prepend-1'>
        <div class='span-15'>
          <div class='span-15'>
            <!---Page content -->
            <h2>About Discover HSD</h2>
            <div class="uihtml">
            <p>The Loyola University Chicago Health Sciences Library and the Health Sciences Division Informatics and Systems Department partnered to update and enhance the library’s Faculty Publications database. The new platform is an interactive, intuitive open source application powered by BibApp that fosters scientific communication and facilitates collaboration.</p></div>	
      <div class="uihtml">
      <h3>Discover intends to:</h3>				
              
              <ul>	
                <li>Identify, connect and collaborate with our research experts</li>
          <li>Access our scholarly output when available</li>
          <li>Link to the researcher's ORCID iD Profile</li>
        </ul>
            </div>
      <div class="uihtml">
      <h3>Discover features:</h3>
        <ul>
          <li>Easily find researchers and publications by browse, basic or advanced searching</li>
          <li>Find collaborators by typing keywords in the search box at the top of the screen, e.g. cardiovascular</li>
          <li>View Loyola University Chicago Health Sciences Division scholarship and connect to publications when available</li>
          <li>Generate bibliographies using various citations styles</li>
        </ul>
      </div>
      
      <div class="uihtml">				
        <p>Discover is maintained by the Health Sciences Library. Please be in touch with your thoughts: <a href="mailto:HSL@luc.edu">HSL@luc.edu</a></p>
        <!-- End page content -->
    </div>
    </div>
      </div>
        </div>

    <div class='span-24' id='footer'>
      <div class='span-23 prepend-1'>
        <p>
          <strong>
            <a href='http://www.luc.edu'>Loyola University Chicago</a>
            |
            <a href='http://library.luhs.org'>Loyola Health Sciences Library</a>
          </strong>
          <br>
          2160 S. First Ave. Maywood, IL 60153 | 708-216-9192 
          <br>
          Powered by
          <strong>
            <a href="http://bibapp.org/">BibApp</a>
          </strong>
        </p>
      </div>
    </div>
  </div>

