    <div class='span-22 prepend-1' id='flash-messages'>
       <!--- Flash messages --> 
    </div>
      <!-- ### Main -->
      <div class='span-24'>
        <div class='span-22 prepend-1'>
          <div class='span-15'>
            <div class='span-15'>
            	<!---Page content -->
            	<h3>Frequently Asked Questions </h3>
            	<div class="uihtml">
				<p><strong>What is Discover?</strong><br />
				The Loyola University Chicago Health Sciences Library and the Health Sciences Division Informatics and Systems Department partnered to update and enhance the library’s Faculty Publications database. The new platform is an interactive, intuitive open source application powered by BibApp that fosters scientific communication and facilitates collaboration.
				</p>
				<p><strong>What is the purpose of Discover?</strong><br />
				Discover connects local and global researchers, faculty, students, patients, and the public to the scholarly output of the Loyola University Chicago Health Sciences Division experts. Discover the Health Sciences Division’s current research publications and make connections to our experts by browsing our Academic Groups or reading the profiles of our individual researchers. 
				</p>
            	<p><strong>What kind of citations are included?</strong><br />
				The Health Sciences Library searches PubMed for the journal citations of the last two years for the Health Sciences Division faculty and researchers. 
				</p>
				<p><strong>What kinds of authors are included?</strong><br />
				When a group name is included as an author, the respective group member names appearing in the article will be acknowledged as collaborators but not associated with authorship. This significant enhancement allows PubMed users to identify articles to which an individual has contributed, whether as an author or as a collaborator.</p> 
				<p><strong>How are Academic Groups created?</strong><br />
				Academic Groups are the departments and institutes assigned to faculty and researchers within the Health Sciences Division Faculty Information System
				</p>
				<p><strong>How do I add or change information in my profile?</strong><br />
				Journal citations are maintained by the Health Sciences Library. Please contact <a href="mailto:HSL@luc.edu">HSL@luc.edu</a> if you would like us to include your photo or if your profile is not included.
				</p>
								


            	</div>
         <!-- End page content -->
     </div>
     	</div>
     		</div>
     			</div>



